body {
    text-align: center;
    font-family: Arial;
    color: cornflowerblue;
}

.container{
    width: 70%;
    text-align: center;
    border: 1px solid rgb(31, 30, 68);
    margin: 0 auto;

}

.extra{
    width: 70%;
    background-color: yellow;
    margin-top: 2rem;
    color: tomato;
    text-align: center;
    margin: 0 auto;
}