body {
    text-align: center;
    font-family: Arial;
    color: cornflowerblue;
}

.container {
    width: 70%;
    text-align: center;
    border: 1px solid rgb(31, 30, 68);
    margin: 0 auto;
}

.extra {
    width: 70%;
    background-color: yellow;
    margin-top: 2rem;
    color: tomato;
    text-align: center;
    margin: 0 auto;
}

.cabecera {
    background-color: rgb(52, 15, 73);
    color: white;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nuevoDiv {
    background-color: blueviolet;
    width: 70%;
    margin: 0 auto;
    height: 3rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.footer {
    height: 5rem;
    background-color: rgb(66, 66, 66);
    color: white;
    justify-content:space-around;
}

#cacatua{
    width: 60px;
}